<a href="{% url 'post:reply' post.pk %}" class="d-inline-block">
    <button type="button" class="btn btn-primary btn-sm">返信{% if post.reply_count %}  {{ post.reply_count }}{% endif %}</button>
</a>
<a href="{% url 'post:repost' post.pk %}" class="d-inline-block">
    <button type="button" class="btn btn-outline-success btn-sm">リツイート{% if post.repost_count %} {{ post.repost_count }}{% endif %}</button>
</a>
<form method="post" action="{% url 'post:favorite' post.pk %}" class="d-inline-block">
    {% csrf_token %}
    {% if liked %}
        <button type="submit" class="btn btn-warning btn-sm">☆いいね{% if post.liked_count %} {{ post.liked_count }}{% endif %}</button>
    {% else %}
        <button type="submit" class="btn btn-outline-warning btn-sm">☆いいね{% if post.liked_count %} {{ post.liked_count }}{% endif %}</button>
    {% endif %}
</form>
{% if post.author == request.user %}
    <form method="post" action="{% url 'post:delete' post.pk %}" class="d-inline-block">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger btn-sm">削除</button>
    </form>
{% endif %}
<a href="{% url 'post:status' post.pk %}" class="d-inline-block text-muted ms-2">
    <h6 class="">{{ post.created_at }}</h6>
</a>
