{% extends 'base.html' %}
{% load static %}
{% load boost %}

{% block title %}返信一覧{% endblock title %}
{% block content %}
    {% if request.user.is_authenticated  %}
        {% for post, liked in zip %}
            <ul class="list-unstyled">
                <div class="row mt-2 border">
                    <div style="width: 100px;" class="col-2 my-1">
                        <a href={% url 'accounts:profile' post.author.username %}>
                            {% if post.author.icon %}
                                <img class="align-self-center img-thumbnail img-fluid" src="{{ post.author.icon.url }}">
                            {% else %}
                                <img class="align-self-center img-thumbnail img-fluid" src="{% static 'images/user_icon.png' %}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col my-1">
                        <h4 class=""><a class="text-dark" href={% url 'accounts:profile' post.author.username %}>@{{ post.author }}</a></h4>
                        <p class="text-break">
                            {{ post.content | linebreaksbr | urlize }}
                        </p>
                        {% if post.repost_parent %}
                            <div class="row my-2 border">
                                <div style="width: 100px;" class="col-2 my-1">
                                    <a href={% url 'accounts:profile' post.repost_parent.author.username %}>
                                        {% if post.repost_parent.author.icon %}
                                            <img class="align-self-center img-thumbnail img-fluid" src="{{ post.repost_parent.author.icon.url }}">
                                        {% else %}
                                            <img class="align-self-center img-thumbnail img-fluid" src="{% static 'images/user_icon.png' %}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col my-1">
                                    <h4 class=""><a class="text-dark" href={% url 'accounts:profile' post.repost_parent.author.username %}>@{{ post.repost_parent.author }}</a></h4>
                                    <p class="text-break">
                                        {{ post.repost_parent.content | linebreaksbr | urlize }}
                                    </p>
                                    <a href="{% url "post:status" post.repost_parent.pk %}" class="d-inline-block text-muted ms-2">
                                        <h6 class="">{{ post.repost_parent.created_at }}</h6>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        <a href="{% url "post:reply" post.pk %}" class="d-inline-block">
                            <button type="button" class="btn btn-primary btn-sm">返信{% if reply_count %}  {{ reply_count }}{% endif %}</button>
                        </a>
                        <a href="{% url "post:repost" post.pk %}" class="d-inline-block">
                            <button type="button" class="btn btn-outline-success btn-sm">リツイート{% if repost_count %} {{ repost_count }}{% endif %}</button>
                        </a>
                        <a href="{% url "post:favorite" post.pk %}" class="d-inline-block">
                            {% if liked %}<button type="button" class="btn btn-warning btn-sm">{% else %}<button type="button" class="btn btn-outline-warning btn-sm">{% endif %}
                                ☆いいね{% if post.liked_count %} {{ post.liked_count }}{% endif %}
                            </button>
                        </a>
                        {% if post.author == request.user %}
                            <a href="{% url "post:delete" post.pk %}" class="d-inline-block">
                                <button type="button" class="btn btn-outline-danger btn-sm">削除</button>
                            </a>
                        {% endif %}
                        <a href="{% url "post:status" post.pk %}" class="d-inline-block text-muted ms-2">
                            <h6 class="">{{ post.created_at }}</h6>
                        </a>
                    </div>
                </div>
            </ul>
        {% empty %}
            <h6 class="mt-2">返信が見つかりませんでした</h6>
        {% endfor %}
    {% else %}
        <h6>ようこそTwitter-cloneへ！<a href="{% url 'accounts:create' %}">アカウントを作成する</a>か<a href="{% url 'accounts:login' %}">ログイン</a>してください</h6>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        var q = document.search.query;
        var len = q.value.length;
        q.focus();
        q.setSelectionRange(len, len);
    </script>
{% endblock %}